<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/styles/normalize.css">
        <link rel="stylesheet" type="text/css" href="/styles/skeleton.css">

        <style>
            body {
                padding-top: 3em;
                padding-bottom: 5em;
            }

            .text-center {
                text-align: center;
            }

            #extension > div {
                text-align: center;
            }

            #instructions > .row {
                margin-top: 2em;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1 class="text-center">Scryfall Stream Extension</h1>
            
            <div id="extension" class="row">
                <div class="six columns">
                    <a class="button button-primary" href="https://chrome.google.com/webstore/detail/scryfall-stream-extension/mnpddeakaelckogkpbakffdojenlellm">Chrome Web Store</a>
                </div>
                <div class="six columns">
                    <a class="button button-primary" href="https://addons.mozilla.org/en-US/firefox/addon/scryfall-stream-extension/">Firefox Add-On</a>
                </div>
            </div>

            <div id="instructions" class="row">
                <div class="row">
                    <p>Scryfall Stream Extension provides a "Stream" button on Scryfall search result pages to allow you to change an on-stream card graphic with no special equipment or setup.</p>
                </div>
                <div class="row">
                    <img class="u-max-full-width" src="/img/scryfall-stream-browser-extension.png">
                </div>
                <div class="row">
                    <p>Simply add a Browser Source to your streaming client of choice with the url provided by the extension.</p>
                    <p>The webpage will automatically size to fit the size of your source, so try to match a standard card resolution such as <b>745x1040 (Width: 745px, Height: 1040px)</b>. The extension uses the highest resolution offering Scryfall has, so it should scale well for common stream resolutions. Do note that some Scryfall images differ in size, but any stretching should be minor. Full resolution images are not available for some foreign languages.</p>
                </div>
                <div class="row">
                    <div class="six columns">
                        <img class="u-max-full-width" src="/img/scryfall-stream-options.png">
                    </div>
                    
                    <div class="six columns">
                        <img class="u-max-full-width" src="/img/scryfall-stream-obs.png">
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
