<html>
    <head>
        <title>Room: {{ id }} - StreamsGood</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.slim.js" integrity="sha256-RtMTraB5gGlLER0FkKBcaXCmZCQCxkKS/dXm7MSEoEY=" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="/styles/room.css">
    </head>
    <body>
        <img id="card" src="" class="fitscreen">
    </body>
    <script>
        const cardElement = document.querySelector('#card');
        const socket = io.connect();

        socket.on('connect', data => {
            socket.emit('join', '{{ id }}');
        });

        socket.on('url', data => {
            console.log(data);
            cardElement.src = data;
        });

        // document.querySelector('#card').addEventListener('click', e => {
        //     e.preventDefault();
        //     document.querySelector('#card').classList.toggle('fitscreen');
        // });
    </script>
</html>